# vim: set noet fenc=utf-8 ff=unix sts=0 sw=0 ts=8 :

# define user and credentials in $XDG_CONFIG_HOME/git/config

[credential]
	helper = cache
[alias]
	pulre = pull --rebase
	sq = "!_sq() { git rebase --interactive --autosquash $(git merge-base HEAD "${1:-master}"); }; _sq"
	amend = commit --amend --no-edit
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	hard-ignore = update-index --skip-worktree
	hard-unignore = update-index --no-skip-worktree
	ls-ignored = "!git ls-files -v | grep '^h' | cut -c 3-"
	gen-ignore = "!_gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; _gi"
	init-commit = !git init && git commit --allow-empty -m \"Initial commit\" -m \"This commit intentionally left blank.\"
	push-new = "!_pn() { git push -u origin "$(git rev-parse --abbrev-ref HEAD)" "$@"; }; _pn"
	push-lease = push --force-with-lease
	fixup = commit --fixup
[push]
	default = simple
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	# http://vim.wikia.com/wiki/A_better_Vimdiff_Git_mergetool
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
[mergetool]
	keepBackup = false
[rebase]
	stat = true
[branch]
	autosetuprebase = always
